body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #003366;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: black;
}
header .logo img {
    max-width: 100px;
    max-height: 50px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex: 2;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.logo {
    display: flex;
    align-items: center;
}
main {
    padding: 20px;
    display: flex;
    flex-grow: 1;
}
#sideBar {
    min-width: 250px;
    background-color: #e0e0e0;
    border-radius: 5px;
    height: calc(100vh - 70px);
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
#sideBar a, #contact a {
    text-decoration: none;
    color: #003366;
}
.bar {
    padding: 0px 15px;
}
.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.menu-tog {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}
.picture {
    max-width: 200px;
    max-height: 150px;
    border-radius: 30%;
    display: block;
    margin: 20px auto;
}
.profile {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    max-width: 800px;
    height: 100%;
    text-align: justify;
}
footer {
    color: black;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer h6, footer i, footer a {
    margin: 0 auto;
    color: black;
}
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .menu-tog {
        position: absolute;
        display: block;
        top: 80px;
        left: 20px;
    }
    nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
    }
    nav a {
        margin: 10px 0;
    }
    #sideBar{
        position: absolute;
        width: 100%;
        height: 100vh;
        display: none;
    }
}